*{box-sizing: border-box;}

h1,h2,h3,p,a,.text {color: white;font-family: Arial; text-decoration: NONE}

.img-res{
    width:100%;
    height: auto;
}

html{
    background-color: whitesmoke;
}
body{
    margin: 0;
}
header{
    height: 100px;
    width: 100%;
    position: relative;
}
.homebar{
    position:relative;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: 100px;
    margin-top: 0;
    padding: 10px;
    top: 0;
    left: 0;
    background-color: rgb(81, 168, 183);
    border-radius: 0px 10px 10px 0px;
}
.homebar img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}
.homebar a {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    top: -40px;
    font-size: 30px;
}

.homebar h1{
    max-width: 100%;
    max-height:100%;
    display: inline-block;
    position: relative;
    font-size: 30px;
    top: -40px;
    left: 30%;
}
main {
    width: 100%;
    margin-top: 5px;
    position: relative;
}
.titolo{
    display:inline-block;
    width:100%;
    margin: 0;
    text-align:center;
    position:absolute;
    padding: 15;
    color: #c79f91;
    margin-top:80;
    visibility: collapse;
}
footer {
    width: 100%;
    position: relative;
    bottom: 0px;
}
.footerbar{
    display: inline-block;
    position:absolute;
    height: 70px;
    width:100%;
    font-size: 20px;
    background-color: rgb(63, 129, 170);
}
.slide-container {
    display: block;
    width: 100%;
    height: 400px;
    margin: auto;
    position: relative;
    top: 0px;
    border: 3px solid rgb(81, 168, 183);
    border-radius: 0px 5px 5px 0px;
    background-color: rgb(81, 168, 183);

}
.slide-container .slide{
    width: 100%;
    height: 100%;

}
.slide {
    display: none;
    width: 700px;
    height:400px;
}
.slide img{
    width: 100%;
    height: 100%;
}
.fade {
    animation-name: fade;
    animation-duration: 4s;
}
@keyframes fade {
    from {opacity: 0.5}
    to {opacity: 1}
}
.dietro, .avanti {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 10px;
    margin-top: -12px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 13px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
/*per spostare a destra la freccia "avanti"*/
.avanti {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/*per rendere scure le freccette quando ci passo sopra*/
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.text {
    font-size: 40px;
    padding: 10px 10px;
    position: absolute;
    top: 50%;
    width: auto;
    left: 20px;
    background-color: rgba(81, 168, 183, 0.421);
    border-radius: 10px;
}

.contact-link{
    display: inline-block;
    width: 150px;
    height: 150px;
    position: fixed;
    bottom: -100;
    right: 0;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.grid-item {
    height: 400px;
    width:20%;
    margin: 30px;
    text-align: center;
    font-size: 15px;
    text-wrap: wrap;
}
.grid-item-30 {
    width: 33.33%;
    height: 400px;
    text-align: center;
    font-size: 15px;
    text-wrap: wrap;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.grid-item img{
    width:100%;
    height: 60%;
}

.chi-siamo-testo{
    color:black;
}

.sub-text{
    font-size: 50px;
    font-family: "Open Sans";
    letter-spacing: 1px;
    font-weight: 200;
    color: #093E77;
    text-align: center;
}

.light-border{
    display: block;
    max-width: 100%;
    text-align: center;
    margin: auto;
    width: 15%;
    border-top: solid 1px #093E77;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.irrelevant-text{
    margin: 1%;
    font-size: 25px;
    font-family: "Open Sans";
    line-height: 40px;
    padding-bottom: 45px;
    max-width:100%;
    text-align: center;
    color: #093E77;
}

.container{
    display: block;
    max-width: 1200px;
    position: relative;
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.5;
}

.row{
    margin-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    font-size: 100%;
    font-family: "Open Sans";
    line-height: 1.5;
}

.element{
    width:50%;

}

.element-text{
    display: block;
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 25px;
    color: #093E77;
}

.element-text-p{
    display: block;
    color: #295b8a;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;

}

.element-image{
    vertical-align: middle;
    width: 560px;
    height: 300px;
}

.main-carousel{padding: 50px 0;}

.carousel-cell{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.6), rgba(0,0,0, 1)), url('foto.jpg');
    background-size: cover  ;
    margin-right: 20px; 
    transition: 1.5s;
}

/*per il cellulare*/
@media (max-width: 600px) {
    .grid-item {
        height: 400px;
        width:100%;
        margin: 30px;
        text-align: center;
        font-size: 15px;
        text-wrap: wrap;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .grid-item-30 {
        height: 400px;
        width:100%;
        margin: 30px;
        text-align: center;
        font-size: 15px;
        text-wrap: wrap;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
}
/*per il tablet*/
@media (min-width: 600px) and (max-width: 990px){
    .grid-item {
        height: 400px;
        width:100%;
        margin: 30px;
        text-align: center;
        font-size: 15px;
        text-wrap: wrap;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .grid-item-30 {
        height: 400px;
        width:100%;
        margin: 30px;
        text-align: center;
        font-size: 15px;
        text-wrap: wrap;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    
}
/*per i laptop, tipo quello che vedrà Vincenzo*/
@media (min-width: 990px) and (max-width: 1300px){
    .grid-item {
        height: 400px;
        width:100%;
        margin: 30px;
        text-align: center;
        font-size: 15px;
        text-wrap: wrap;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .grid-item-30 {
        height: 400px;
        width:100%;
        margin: 30px;
        text-align: center;
        font-size: 15px;
        text-wrap: wrap;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    
    #footerbarid li p{font-size: 16px}
    .slide {
        display: none;
        width: 500px;
        height:280px;
    }
}