*{box-sizing: border-box;}

h1,h2,h3,p,a,.text {color: white;font-family: Arial; text-decoration: NONE}

.img-res{
    width:100%;
    height: auto;
    vertical-align: middle;
}

.img-res-2{
    width: 100%;
    height: auto;
}

.image-container{
    position:relative;
    width:100%;
    vertical-align:middle;
    margin-bottom: 30px;
}

html{
    background-color: whitesmoke;
    width:100%;
    height:100%;
}

body{
    width:auto;
    height:auto;
    margin: 0;
    background-color: whitesmoke;
}

.bodi{
    width:100%;
    height:100%;
    margin: 0;
    background-color: #f3f3df;
}

.content{
    width: 100%;
    margin: auto;
    padding: 15px;
    text-align: center;
    /* background-color: white; */
    padding-bottom: 40px;
}

.tabella{
    text-align: left;
    margin: auto;
}

.centra-pulsante{
    width:100%;
    display:flex;
    justify-content: center;
}

.parte-destra{
    display: flex;
    align-items: baseline;
}


.homebar {
    display: flex;
    width:100%;
    max-height: 100px;
    height: auto;
    margin: 0;
    background-color: rgb(81, 168, 183);
    border-radius: 0px 10px 10px 0px;
    white-space: nowrap; /* Prevent wrapping */
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: space-between;
}

.homebar2 {
    display:flex;
    width:100%;
    max-height: 100px;
    height: auto;
    margin: 0;
    background-color: rgb(81, 168, 183);
    border-radius: 0px 10px 10px 0px;
    white-space: nowrap; /* Prevent wrapping */
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

.mashallah{
    display:flex;
    text-align: center; 
    width:86%;
    height:100%;
    justify-content:center;
    position:relative;
    bottom:0;
    align-items:baseline;
    margin-top:auto;
}

.link {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    margin: 2px;
    margin-right: 10px;
    margin-top:auto;
}

.link a {
    font-size: 170%;
    bottom:0;
}

.link:hover {
    transform: scale(1.05);
}

.link a img {
    width: 130px;
}


.foto-antia{
    width:9%;
}

main {
    width: 100%;
    margin-top: 5px;
    position: relative;
}

.titolo{
    display:inline-block;
    width:100%;
    margin: 0;
    text-align:center;
    position:absolute;
    padding: 15;
    color: #c79f91;
    margin-top:80;
    visibility: collapse;
}

footer {
    width: 100%;
    position: relative;
    bottom: 0px;
    margin-top: 20px;
}

.footerbar{
    display: inline-block;
    position:absolute;
    height: 70px;
    width:100%;
    font-size: 20px;
    background-color: rgb(63, 129, 170);
}

.bottone_prezzo {
    font-family: Arial;
    position:relative;
    display:block;
    margin: 10px;
    padding:5px;
    background-color: rgb(81, 168, 183);
    text-align: center;
}
.bottone_prezzo p{
    font-size: 17px;
    font-family: Arial;
}

.bottone_prezzo:hover {
    scale:1.1;
    background-color: rgb(81, 168, 183);
}

.slide-container {
    display: block;
    width: 80%;
    height: 400px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    top: 0px;
    border: 3px solid rgb(81, 168, 183);
    border-radius: 0px 5px 5px 0px;
    background-color: rgb(81, 168, 183);

}

.slide-container .slide{
    width: 100%;
    height: 100%;

}

.slide {
    display: none;
    width: 700px;
    height:400px;
}

.slide img{
    width: 100%;
    height: 100%;
}

.fade {
    animation-name: fade;
    animation-duration: 4s;
}

@keyframes fade {
    from {opacity: 0.5}
    to {opacity: 1}
}

.dietro, .avanti {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 10px;
    margin-top: -12px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 13px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

/*per spostare a destra la freccia "avanti"*/
.avanti {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/*per rendere scure le freccette quando ci passo sopra*/
.dietro:hover, .avanti:hover {
    background-color: rgba(0,0,0,0.4);
}

.text {
    font-size: 40px;
    padding: 10px 10px;
    position: absolute;
    top: 50%;
    width: auto;
    left: 20px;
    background-color: rgba(81, 168, 183, 0.421);
    border-radius: 10px;
}

.contact-link{
    display: inline-block;
    width: 150px;
    height: 40.95px;
    position: fixed;
    bottom: 0;
    right: 0;
}
#footbar_chisiamo {
    top: 350px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.grid-item {
    height: 400px;
    width:20%;
    margin: 30px;
    text-align: center;
    font-size: 15px;
    text-wrap: wrap;
}

.grid-item-30 {
    width: 33.33%;
    height: auto;
    text-align: center;
    font-size: 15px;
    text-wrap: wrap;
    padding: 5px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.grid-item img{
    width:100%;
    height: 60%;
}

.chi-siamo-testo-h1{
    text-align:center;
    color: black;
}

.chi-siamo-testo{
    color:black;
    text-align:justify;
    padding: 0 10px;
}

.sub-text{
    font-size: 50px;
    font-family: "Open Sans";
    letter-spacing: 1px;
    font-weight: 200;
    color: #093E77;
    text-align: center;
}

.light-border{
    display: block;
    max-width: 100%;
    text-align: center;
    margin: auto;
    width: 15%;
    border-top: solid 1px #093E77;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.irrelevant-text{
    margin: 1%;
    font-size: 25px;
    font-family: "Open Sans";
    line-height: 40px;
    padding-bottom: 45px;
    max-width:100%;
    text-align: center;
    color: #093E77;
}

.irrelevant-text-left{
    font-size: 35px;
    font-weight: 300;
    font-family: "Open Sans";
    line-height: 40px;
    max-width:100%;
    text-align: left;
    color: #093E77;
    margin:0;
}

.catchy-phrase-text{
    color: gray;
    font-size:25px;
    margin-bottom: 10px;
}

.filler-text{
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 300;
    text-align: justify;
}

.filler-text-right{
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 300;
    text-align: justify;
}

.filler-text h1, .filler-text h2, .filler-text p{
    color: gray;
    margin:0;
}

.filler-text-right h1, .filler-text-right h2, .filler-text-right p{
    color: gray;
    margin:0;
}

.filler-text p{
    margin-bottom: 15px;
}

.bookmark{
    float:right;
    width:13%;
    height:15%;
    display:inline;
}

.container{
    display: block;
    max-width: 1200px;
    position: relative;
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.5;
}

.row{
    margin-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    font-size: 100%;
    font-family: "Open Sans";
    line-height: 1.5;
}

.element{
    width:50%;

}

.element-text{
    display: block;
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 25px;
    color: #093E77;
    font-family: "Open Sans";
}

.element-text-p{
    display: block;
    color: #295b8a;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
    text-align: justify;
    width:95%

}

.element-image{
    vertical-align: middle;
    width: 95%;
    height: 300px;
}

.element-2{
    width:50%;
}

.element-2-text{
    display: block;
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 25px;
    color: #093E77;
}

.element-2-text-p{
    display: block;
    color: #295b8a;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
    text-align: justify;
    width:95%

}

.element-image{
    vertical-align: middle;
    width: 95%;
    height: 300px;
}

.main-carousel{padding: 50px 0;}

.carousel-cell{
    height: 350px;
    width: 350px; 
    background-color: f3f3df;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.6), rgba(0,0,0, 1)), url('immagini/foto.jpg');
    background-size: cover  ;
    margin-right: 20px; 
    transition: 1.5s;
    margin-top: 10px;
}

.carousel-cell-lione{
    height: 350px;
    width: 350px; 
    background-color: f3f3df;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url('immagini/Lione.jpg');
    background-size: cover  ;
    margin-right: 20px; 
    transition: 1.5s;
    margin-top: 10px;
}

.carousel-cell-lione:hover{
    scale: 1.01;
}

.carousel-cell-sudafrica{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), url('immagini/idfk.jpg');
    background-size: cover  ;
    margin-right: 20px; 
    transition: 1.5s;
    margin-top: 10px;
}

.carousel-cell-sudafrica:hover{
    scale: 1.01;
}

.carousel-cell-giappone:hover{
    scale: 1.01;
}

.carousel-cell-giappone{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), url('immagini/giappone.jpeg');
    background-size: cover  ;
    margin-right: 20px; 
    transition: 1.5s;
    margin-top: 10px;
}

.carousel-cell-messico{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), url('immagini/messico-carousel.jpg');
    background-size: cover  ;
    margin-right: 20px; 
    transition: 1.5s;
    margin-top: 10px;
}

.carousel-cell-messico:hover{
    scale: 1.01;
}

.carousel-cell-stati-uniti{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), url('immagini/stati-uniti.jpeg');
    background-size: cover  ;
    margin-right: 20px; 
    transition: 1.5s;
    margin-top: 10px;
}

.carousel-cell-stati-uniti:hover{
    scale: 1.01;
}

.carousel-cell-italia{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), url('immagini/italia.webp');
    background-size: cover  ;
    margin-right: 20px; 
    transition: 1.5s;
    margin-top: 10px;
}

.carousel-cell-italia:hover{
    scale: 1.01;
}

.carousel-text{
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: "Open Sans";
    display: block;

}

.testo-sotto-immagine{
    margin-bottom: 15px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #093e77;
}

.city-container{
    width:100%
}

.city-text-container{
    width: 100%;
    float: left;
    margin-bottom: 25px;

}

.div-row-col{
    max-width: 1360px;
    margin:0 auto;
}

.col-sx{
    width: 60%;
    float: left;
    padding: 12px;
    margin-bottom:20px;
}

.col-dx{
    width:35%;
    float:right;
    padding:12px;
    margin-bottom:20px;
    box-sizing: initial;
}
.video_container{
    position:relative;
    display:block;
    margin: 10px;
    padding:5px;
    width: 100%;

}

.video{
    width:70%; 
    height:auto; 
    margin-left:15%;
}

.favorite-card {
    border: 1.5px solid #be935b;
    height:100%;
    border-radius: 3px;
    margin: 10px 0px;
    padding: 5px;
}
.favorite-card__img {
    width: 100%;
    height:50%;
}
.favorite-card__img img {
    width: 100%;
    height:100%;
}
.favorite-card__testo{
    display: inline;
    align-items: center;
}

.favorite-card__testo p{
    color:black;
    font-size:24px;
}

.favorite-card__testo p a{
    color:black;
}

.box_icone{
    width: 48%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box_icone2{
    margin-left: 43%;
    display: flex;
    flex-wrap: wrap;
}

.box_icona{
    /* border: 1px solid blue; */
    /* width: 24%; */
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    align-self: center;
    height: 100px;
    width: max-content;
}

.box_icona2{
    margin: 3px;
    display: flex;
    align-items: center;
    align-self: center;
    height: 30px;
    width: max-content;
}

.IconaImg{
    /* width: 100%;
    height: 100%;
    border-radius: 100%; */
    width: fit-content;
    height: 100%;
    border-radius: 50%;
}

.labelIcon {
    display: inline-block;
    cursor: pointer;
    border-radius: var(--border-radius);
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    border: 5px solid gray;
    border-radius: 100%;
    transition: 0.4s;
}
.labelIcon:hover {
    border: 5px solid rgb(53, 53, 53);
    border-radius: 100%;

    transform: scale(1.05);
}
.preferiti-testo{
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-family: Arial;
    font-weight: bold;
}










@media (max-width: 280px){
    .grid-item {
        height: 400px;
        width:100%;
        margin: 30px;
        text-align: center;
        font-size: 15px;
        text-wrap: wrap;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .grid-item-30 {
        height: auto;
        width:100%;
        margin: 30px;
        text-align: center;
        font-size: 15px;
        text-wrap: wrap;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .destinazioni-media{
        display: none;
    }

    .element{
        width:100%
    }

    .text{
        top:80%;
        font-size:28px
    }

    #logo{
        max-width: 20%;
        max-height: 100%;
    }
    .col-sx{
        width:100%;
    }

    .col-dx{
        width:auto;
    }

    .irrelevant-text-left{
        text-align: center;
    }
    
    .footerbar{
        height: auto;
    }

    .video{
        width:100%;
        margin-left:0%;
    }

}

@media (min-width:281px) and (max-width: 411px) {
    .grid-item {
        height: 400px;
        width:100%;
        margin: 30px;
        text-align: center;
        font-size: 15px;
        text-wrap: wrap;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .grid-item-30 {
        height: 710px;
        width:100%;
        margin: 30px;
        text-align: center;
        font-size: 15px;
        text-wrap: wrap;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .destinazioni-media{
        display:none;
    }

    .element{
        width:100%
    }

    .text{
        top:80%;
        font-size:28px
    }


    .col-sx{
        width:100%;
    }

    .col-dx{
        width:auto;
    }

    .irrelevant-text-left{
        text-align: center;
    }

    .video{
        width:100%;
        margin-left:0%;
    }

    .footerbar{
        height:auto
    }

}

@media (max-width:370px){
    .destinazioni-media4{
        display:none;
    }

    .grid-item-30{
        height:780px;
    }

}

@media (max-width:530px){
    .destinazioni-media3{
        display:none;
    }
}

@media (max-width:660px){
    .destinazioni-media2{
        display:none;
    }

    .preferiti-media{
        display:none;
    }
}

/*per il cellulare*/
@media (min-width: 412px) and (max-width: 789px) {

    .preferiti-media{
        display:none;
    }
    
    .destinazioni-media{
        display:none;
    }


    .text{
        top:70%;
        font-size:28px
    }

    .element{
        width:100%
    }

    .grid-item {
        height: 400px;
        width:100%;
        margin: 30px;
        text-align: center;
        font-size: 15px;
        text-wrap: wrap;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .grid-item-30 {
        height: auto;
        width:100%;
        height:650px;
        margin: 30px;
        text-align: center;
        font-size: 15px;
        text-wrap: wrap;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .footerbar{
        height:auto
    }

    .col-sx{
        width:100%;
    }

    .col-dx{
        width:auto;
    }

    .irrelevant-text-left{
        text-align: center;
    }

    .video{
        width:100%;
        margin-left:0%;
    }

}
/*per il tablet*/
@media (min-width: 790px) and (max-width: 1024px){
    .destinazioni-media{
        display:none;
    }

    .grid-item {
        height: 400px;
        width:100%;
        margin: 30px;
        text-align: center;
        font-size: 15px;
        text-wrap: wrap;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .grid-item-30 {
        height: auto;
        width:100%;
        height:400px;
        margin: 30px;
        text-align: center;
        font-size: 15px;
        text-wrap: wrap;
        border: 1px solid black;

    }

    .element-text{
        margin-top: 1rem;
    }

    .video{
        width:80%;
        margin-left:10%;
    }
    
}
/*per i laptop, tipo quello che vedrà Vincenzo*/
@media (min-width: 1024.1px) and (max-width: 1300px){
    .destinazioni-media{
        display:none;
    }
}