*{box-sizing: border-box;}

h1,h2,h3,p,a,.text {color: white;font-family: Arial; text-decoration: NONE}

.img-res{
    width:100%;
    height: auto;
}

html{
    background-color: whitesmoke;
}
.background{object-fit: cover;height: 100%;width:100%; top: 0; left: 0;margin: 0}
.pic-res{
    display:block;
    position: absolute;
}

body{
    margin: 0;
}
header{
    height: 100px;
    width: 100%;
}
.homebar{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin-top: 0;
    padding: 10px;
    top: 0;
    left: 0;
    background-color: rgb(81, 168, 183);
    border-radius: 0px 10px 10px 0px;
}
.homebar img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}
.homebar a {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    top: -40px;
    font-size: 30px;
}

.homebar h1{
    max-width: 100%;
    max-height:100%;
    display: inline-block;
    position: relative;
    font-size: 30px;
    top: -40;
    left: 30%;
}

.logo{
    left: 0;
}

main {
    height: 100%;
    margin-top: 5px;
}
.titolo{
    display:inline-block;
    width:100%;
    margin: 0;
    text-align:center;
    position:relative;
    padding: 15;
    color: #c79f91;
    margin-top:80;
    visibility: collapse;
}
.footerbar{
    display: inline-block;
    position:relative;
    width:100%;
    margin: 0;
    bottom: 0;
    background-color: rgb(63, 129, 170);
}
#footerbarid {font-size: 20px; margin:0}
.slide-container {
    display: block;
    width: 100%;
    height: 400px;
    margin: auto;
    position: relative;
    top: 0px;
    border: 3px solid rgb(81, 168, 183);
    border-radius: 0px 5px 5px 0px;
    background-color: rgb(81, 168, 183);

}
.slide-container .slide{
    width: 100%;
    height: 100%;

}
.slide {
    display: none;
    width: 700px;
    height:400px;
}
.slide img{
    width: 100%;
    height: 100%;
}
.fade {
    animation-name: fade;
    animation-duration: 4s;
}
@keyframes fade {
    from {opacity: 0.5}
    to {opacity: 1}
}
.dietro, .avanti {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 10px;
    margin-top: -12px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 13px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
/*per spostare a destra la freccia "avanti"*/
.avanti {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/*per rendere scure le freccette quando ci passo sopra*/
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.text {
    font-size: 40px;
    padding: 10px 10px;
    position: absolute;
    top: 50%;
    width: auto;
    left: 20px;
    background-color: rgba(81, 168, 183, 0.421);
    border-radius: 10px;
}

.contact-link{
    display: inline-block;
    width: 150px;
    height: 150px;
    position: fixed;
    bottom: -100;
    right: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tre colonne con uguale spessore */
    flex-wrap: wrap;
}



.grid-item {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    background-size: auto;
    text-wrap: wrap;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.chi-siamo-testo{
    color:black;
}

/*per il cellulare*/
@media (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr; 
        grid-gap: 10px; 
        flex-wrap: wrap;
    }
}
/*per il tablet*/
@media (min-width: 600px) and (max-width: 990px){
    .grid-container {
        display: grid;
        grid-template-columns: 1fr; 
        grid-gap: 10px; 
        flex-wrap: wrap;
    }
}
/*per i laptop, tipo quello che vedrà Vincenzo*/
@media (min-width: 990px) and (max-width: 1300px){

    
    #footerbarid li p{font-size: 16px}
    .slide {
        display: none;
        width: 500px;
        height:280px;
    }
}